# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# Other folders
Administration/
Figs/
*_cache/
Slides/*.R

# Intermediate files
Course_Prep/*.tex
Course_Prep/*.synctex.gz
Course_Prep/*.out
Course_Prep/*.log
Course_Prep/*.aux
